.calendar-preview {
    border-top: 1px solid rgba(0,0,0,.1);
    padding: 1.5rem 0;
}

.calendar-meta {
    display: block;
    position: relative;
    font-weight: 300;
}

.calendar-meta img {
    display: inline-block;
    vertical-align: middle;
    height: 32px;
    width: 32px;
    border-radius: 30px;
}

.calendar-meta .info {
    margin: 0 1.5rem 0 .3rem;
    display: inline-block;
    vertical-align: middle;
    line-height: 1rem;
}

.calendar-meta .info .author {
    display: block;
    font-weight: 500!important;
}

.calendar-meta .info .date {
    color: #bbb;
    font-size: .8rem;
    display: block;
}

.calendar-preview .preview-link h1 {
    font-weight: 600!important;
    font-size: 1.5rem!important;
    margin-bottom: 3px;
}

.calendar-preview .preview-link span {
    max-width: 30%;
    font-size: .8rem;
    font-weight: 300;
    color: #bbb;
    vertical-align: middle;
}

.calendars-container {
   width: 100%;
}

.ccomponent-container {
    width: 100%;
}

.socialbtn {
    width: 40px;
    cursor: pointer;
}
